.contact {
  color: #fea004;
}

.contact:hover {
  color: black;
  cursor: pointer;
}
.contact-form-text-area {
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--color-s);
}

.contact-form-text-area:focus {
  outline: none;
  border: 2px solid var(--color-p);
}
