:root {
  --bs-blue: #181938;
  --color-p: #fea004;
  --color-s: #181938;
  --color-l: #ffffff;
  --color-success: rgb(46, 134, 64);
  --font-size-16: 16px;
  --bs-body-font-family: "Noto Serif", serif !important;
}
/*background------*/
.bg-primary {
  background-color: var(--color-p) !important;
}
.bg-secondary {
  background-color: var(--color-s) !important;
}
.bg-light {
  background-color: var(--color-l) !important;
}
/*text-color------*/
.text-primary {
  color: var(--color-p) !important;
}
.text-secondary {
  color: var(--color-s) !important;
}
.text-light {
  color: var(--color-l) !important;
}
.text-lightGray {
  color: var(--color-lightGray) !important;
}
.text-success {
  color: var(--color-success) !important;
}
.border-primary {
  border: 1px solid #5e4955 !important;
}
.border-primary-2 {
  border: 1.6px solid #5e4955 !important;
}
.border-primary-3 {
  border: 2px solid #5e4955 !important;
}
.border-secondary {
  border: 1px solid #5e4955 !important;
}
.border-secondary-2 {
  border: 1.6px solid #5e4955 !important;
}
.border-secondary-3 {
  border: 2px solid #5e4955 !important;
}
.border-secondary-3 {
  border: 2px solid #5e4955 !important;
}
.fs-0 {
  font-size: calc(0.88 * var(--font-size-16)) !important;
}
.fs-1 {
  font-size: var(--font-size-16) !important;
}
.fs-2 {
  font-size: calc(1.3 * var(--font-size-16)) !important;
}
.fs-3 {
  font-size: calc(1.7 * var(--font-size-16)) !important;
}
.fs-4 {
  font-size: calc(2 * var(--font-size-16)) !important;
}
.fs-5 {
  font-size: calc(2.5 * var(--font-size-16)) !important;
}
/*Font-Size and font-family*/
p {
  font-size: calc(1 * var(--font-size-16)) !important;
}
h1 {
  font-size: calc(3 * var(--font-size-16)) !important;
}
h2 {
  font-size: calc(2.5 * var(--font-size-16)) !important;
}
h3 {
  font-size: calc(2 * var(--font-size-16)) !important;
}
h4 {
  font-size: calc(1.5 * var(--font-size-16)) !important;
}
h5 {
  font-size: calc(1.2 * var(--font-size-16)) !important;
}
h6 {
  font-size: calc(1 * var(--font-size-16)) !important;
}

/**/
ul {
  padding: 0px;
}
li {
  list-style-type: none !important;
}
a {
  text-decoration: none !important;
}
button {
  border: none !important;
}

@media screen and (max-width: 992px) {
  p {
    font-size: calc(0.9 * var(--font-size-16)) !important;
  }
  h1 {
    font-size: calc(2.8 * var(--font-size-16)) !important;
  }
  h2 {
    font-size: calc(2.2 * var(--font-size-16)) !important;
  }
  h3 {
    font-size: calc(1.8 * var(--font-size-16)) !important;
  }
  h4 {
    font-size: calc(1.2 * var(--font-size-16)) !important;
  }
  h5 {
    font-size: calc(1 * var(--font-size-16)) !important;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: calc(1.8 * var(--font-size-16)) !important;
  }
  h2 {
    font-size: calc(1.5 * var(--font-size-16)) !important;
  }
  h3 {
    font-size: calc(1.3 * var(--font-size-16)) !important;
  }
  h4 {
    font-size: calc(1.2 * var(--font-size-16)) !important;
  }
}
