.vehicles-booking-form {
  width: 100%;
  margin-top: 88px;
  background-color: #f7f7f7;
}
.vehicles-booking-section {
  width: 70%;
  margin: 0% auto;
  padding: 40px 30px 20px 30px;
}

@media screen and (max-width: 992px) {
  .vehicles-booking-section {
    width: 90%;
  }
}

.clear-filter:hover
/*vehicles*/
.vehicles-section {
  width: 85%;
  margin: auto;
}
.vehicles-filter {
  border: 1px solid var(--color-s);
  border-radius: 5px;
}
/**/
.clear-filter:hover {
  text-decoration: underline;
  cursor: pointer;
}
.filter-checkbox {
  transform: scale(1.5);
  accent-color: var(--color-s);
  box-sizing: border-box;
  border: 2px solid var(--color-p);
}
/**/
.filter-icon {
  width: 100px;
  margin: auto;
}
.offcanvas-body-section {
  border: 1px solid var(--color-s);
  border-radius: 5px;
}
@media only screen and (max-width: 992px) {
  .vehicles-section {
    margin-top: 20px;
    width: unset;
  }
  .offcanvas-filter-section {
    border: 1px solid var(--color-s);
  }
  .vehicles-list-section {
    width: 95%;
    margin: auto;
  }
  .vehicles-filter {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .vehicles-offcanvas-filter {
    display: none;
  }
}
